POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

DATABASE_DRIVER=postgres
DATABASE_URL=postgres://prac:prac@database:5432/prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

PORT=3000
LOGGER_FORMAT=json

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin