POSTGRES_USER=prac
POSTGRES_PASSWORD=change-me
POSTGRES_DB=prac

DATABASE_DRIVER=postgres
DATABASE_URL=postgres://prac:change-me@database:5432/prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=change-me

PORT=3000
LOGGER_FORMAT=json

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me